<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Activity</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>


<div class="container m-5">
    <h1>Create activity for <span th:text="${course.getName()}"></span></h1>
    <form th:method="POST" th:action="@{'/activity/create/{id}' (id=${course.getId()})}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   required>
        </div>


        <div class="mb-3">
            <label for="percentage" class="form-label">Percentage</label>
            <input type="text"
                   class="form-control"
                   id="percentage"
                   name="percentage"
                   required>
        </div>

        <div class="mb-3">
            <label for="min" class="form-label">Minimim</label>
            <input type="text"
                   class="form-control"
                   id="min"
                   name="min"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/activity" class="btn btn-dark">BACK</a>
    </form>
</div>
</body>
</html>