<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Professors</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<header>

</header>
<main>
    <div class="container m-5">
        <h1 th:text="${course.getName()}"></h1>
        <table class="table table-stripped">
            <thead>
              <th>Index</th>
              <th>Name</th>
              <th>Surname</th>
              <th th:each="activity : ${course.getActivityList()}" th:text="${activity.getName()}"></th>
            </thead>
            <tbody>
                <tr th:each="student : ${course.getStudentList()}">
                  <td th:text="${student.getIndex()}"></td>
                  <td th:text="${student.getUser().getName()}"></td>
                  <td th:text="${student.getUser().getSurname()}"></td>
                  <td>
                      <form th:method="DELETE" th:action="@{'/courses/removeStudentFromCourse/{id}' (id=${student.getIndex()})}">
                          <button class="btn btn-danger">Remove</button>
                          <input type="hidden" name="courseId" th:value="${course.getId()}">
                      </form>
                  </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <a th:href="@{'/courses/addStudentsManual/{id}' (id=${course.getId()})}" class="btn btn-dark">Add student to course</a>
        <a href="/courses" class="btn btn-dark">BACK</a>
    </div>
</main>
</body>
</html>