<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style/style.css">


</head>
<body>
<header>
    <div >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">HOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/courses">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/teachers">Professors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/students">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/activity">Activities</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="h-100">

    <div class="d-flex align-items-center justify-content-center row" style="position: relative">
        <div class="row text-center">
            <div class="col">
                <h1 class="animateCharcter"> GRADING SYSTEM</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-md-6 col-sm-12 mb-4">
                <a href="/courses" class="btn btn-lg btn-success">Go to courses</a>
            </div>
            <div class="col col-md-6 col-sm-12 mb-4">
                <a href="/students" class="btn btn-lg btn-success">View All Students</a>
            </div>
        </div>
    </div>

</main>
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">Grading System</a>
    </div>
</footer>
</body>
</html>