<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Points</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script>
        function getFilePath() {
            let filePath = document.getElementById("fileUpload").value;
            //var path = (window.URL || window.webkitURL).createObjectURL(filePath);
            alert(filePath);
        }
    </script>
    <style th:inline="text">
        body {
            background: url([[@{/images/hero-bg.png}]]);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<header>

</header>
<main>
    <div class="container m-5">
        <div class="row">
            <form th:method="GET" th:action="@{'/points/import/{id}' (id=${activity.getCode()})}">
                <input type="file" name="path" class="btn btn-success">
                <button type="submit" class="btn btn-info">Import</button>
            </form>
        </div>
        <h1 th:text="${activity.getName()}"></h1>
        <table class="table table-stripped">
            <thead>
            <th>Index</th>
            <th>Points</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:if="${activity.getCode().equals(point.getCode())}" th:each="point : ${points}">
                <td th:text="${point.getIndex()}"></td>
                <td th:text="${point.getPoints()}"></td>
                <td>
                    <form>
                        <button type="submit" class="btn btn-primary">Edit points</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <a th:href="@{'/courses/{id}' (id=${activity.getCourse().getId()})}" class="btn btn-dark">BACK</a>
    </div>
</main>
</body>
</html>