<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Professors</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<header>

</header>
<main>
    <div class="container m-5">
        <h1>Professors</h1>
        <table class="table table-stripped">
            <thead>
            <th>E-mail</th>
            <th>Name</th>
            <th>Surname</th>

            </thead>
            <tbody>
            <tr th:each="professor : ${professors}">
                <td th:text="${professor.getEmail()}">Email</td>
                <td th:text="${professor.getUser().getName()}">Name</td>
                <td th:text="${professor.getUser().getSurname()}">Surname</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <a href="/teachers/create" class="btn btn-dark">Create</a>
        <a href="/" class="btn btn-dark">BACK</a>
    </div>
</main>
</body>
</html>